<div class="contenuCv">
      <h2 class="expérience">Mon expérience :</h2>
      <p>Assistant de gestion 

        -Assurer le suivi des journées de conduites
        -suivi des dossiers agents
        -suivi des anomalies conduite
        -Connaissance de la réglementation férroviaire
        -Maitrise de la sécurité ferroviaire
        -Conduite en ligne</p>
        <p>
            COLAS Amiens (80)
conducteur d'engins 
-Conduite d'engins : pelle à chenille, pelle à pneu
-Implantation de chantier
Compétences -Pose de signalisation
-Conduite du chargeur à LES
-Maintenance machine à LES
-Déchargement des trains
-Application des règles de sécurité
-Chargement et pesée des camions à LES
        </p>

        <p>NORIAP 
            Apprentie service technique 
            -Participation au BSV
            -Notation essais
            -Suivi des OAD
            -Mise en place de parcelle d'essai
            -Mise en place de reunion technique</p>

</div>
