
<nav class="navbar">
    
    <!-- <button class="navbar-button" type="button">
      <span></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-full">
        <li class="nav-item-one">
          <a class="nav-link" href="#"><img class="img-nav" [src]="cheminLindkedin"/></a>
        </li>
        <li class="nav-item-two">
          <a class="nav-link" href="#"><img class="img-nav" [src]="cheminSncf"/></a>
        </li>
      </ul>
    </div>
  </nav>