.corp {
  display: flex;
  justify-content: space-between;
 height: 100%;
  
  
}

.droite {
  width: 20%;

  background: linear-gradient(
    to left,
    rgb(146,109,39),
    rgb(146,109,39),
    rgb(146,109,39),
    rgb(180, 180, 176));
}
.gauche {
  width: 20%;
  background-color: rgb(21, 21, 19);
  background: linear-gradient(
    to right,
    rgb(146,109,39),
    rgb(146,109,39),
    rgb(146,109,39),
    rgb(180, 180, 176)  );
}
.milieu {
  width: 70%;
  background-color: rgb(146,109,39);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.img-entete {
  width: 25em;
}
.prenom {
  text-align: center;
  font-family: Snell Roundhand, cursive;
}
.description{
margin-bottom: 15%;
  /* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
/* @keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
} */