<div class="corp">
  <div class="scrollbar" id="style-2">
    <div class="force-overflow"></div>
  </div>
  <div class="droite"></div>
  <div class="milieu">
    <img class="img-entete" [src]="cerf" />
    <h1 class="prenom">< Antoine /></h1>
    <br />
    <!-- <img class="img-moi" [src]="moi" /> -->
    <h2>Une petite description de moi :</h2>
    <br />
    <br />
    <br />
    <div class="description">
      <p>
        Je m'appelle Antoine, j'ai 26 ans et je suis actuellement employé à la
        SNCF depuis 2019. Au cours de mes années à la SNCF, j'ai eu
        l'opportunité de conduire des trains, une expérience qui m'a permis de
        découvrir la responsabilité que cela implique, mais aussi l'importance
        de l'efficacité et de la précision dans ce métier.
      </p>
      <br />
      <p>
        Cependant, aujourd'hui, j'ai décidé de me concentrer sur une toute
        nouvelle voie professionnelle en tant que développeur web à la SNCF.
        Bien que je sois encore un junior et un novice dans ce domaine, je suis
        animé par une grande curiosité et un désir ardent d'apprendre tout ce
        que je peux pour m'améliorer.
      </p>
      <br />
      <p>
        Ce portfolio est pour moi l'occasion de me faire connaître en tant que
        développeur web et de montrer mes compétences et mes réalisations à
        travers divers projets et travaux personnels. J'ai hâte de partager mes
        créations avec vous et de recevoir vos retours et commentaires. Merci de
        prendre le temps de parcourir mon portfolio.
      </p>
      <br />
      <p>
        Je vis des alentours d'Amiens, plus précisément d'un petit village de
        200 personnes où j'ai grandi dans un environnement rural. J'ai étudié
        l'agriculture et j'ai appris l'importance de la nature, la terre et les
        animaux. J'ai toujours été passionné par la vie à la campagne et j'ai
        passé la plupart de mon temps à l'extérieur, dans les champs et les
        forêts. Malgré mes origines rurales, j'ai choisi de me lancer dans un
        tout nouveau domaine, le développement web. Je sais que ce travail
        implique principalement de travailler dans un bureau, mais je suis prêt
        à relever ce défi.
      </p>
      <br />
      <p>
        Mon objectif est de briser la barrière entre les gens des villes et les
        ruraux. Je pense que nous avons tous quelque chose à apprendre les uns
        des autres et que nous pouvons tous travailler ensemble pour créer
        quelque chose de vraiment formidable. Je suis convaincu que mes
        compétences en développement web peuvent être un pont entre les deux
        mondes. Je crois qu'il est possible de combiner ma passion pour la
        nature et mon expertise en développement web pour créer des solutions
        innovantes qui peuvent aider les agriculteurs et les communautés
        rurales. Je suis déterminé à réussir ce défi et je suis convaincu que ma
        passion pour la nature, mon expérience de la vie rurale et mes
        compétences en développement web peuvent m'aider à y parvenir.
      </p>
    </div>
    <app-cv></app-cv>
  </div>
  <div class="gauche"></div>
</div>
